*{
    margin: 0;
    padding: 0;
}
.container-gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.img-gallery-colum {
    flex: 10%;
    max-width: 25%;
    padding: 0 4px;
}

.img-gallery-colum img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}

.img-gallery-colum img:hover{
    filter: grayscale(0);
}

@media screen and (max-width:800px){
    .img-gallery-colum {
        flex: 100%;
        max-width: 100%;
    }
    .img-gallery-colum img{
        filter: grayscale(0);
    }
}